[user]
	name = Jason Dougherty
[alias]
  amend = commit --amend --no-edit
  at = config user.email
  bl = blame
  br = branch
  brm = branch -D
  cm = commit -m
	co = checkout
  cob = checkout -b
  df = diff
  lg = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	purr = pull --rebase
  pushf = push --force
  red = reset HEAD --hard
  rbi = rebase -i
  rbc = rebase --continue
  rbs = rebase --skip
  st = status
  whoami = "!whoami() { echo \"`git config --get user.name` <`git config --get user.email`>\"; };whoami"
  undo = reset --soft HEAD@{1}

  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard
[push]
  default = current
[credential]
	helper = cache --timeout=86400
[core]
  editor = nvim
