layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
          pane command="zsh" {
            args "-c" "source ~/.zshrc && cd ~/md/middesk && docker-compose up"
          }
          pane command="zsh" {
            args "-c" "source ~/.zshrc && cd ~/md/util && bin/dev"
          }
          pane command="zsh" {
              args "-c" "source ~/.zshrc && cd ~/md/app && yarn start"
          }
        }
        pane split_direction="horizontal" {
          pane command="zsh" {
              args "-c" "source ~/.zshrc && cd ~/md/middesk && bin/rails server"
          }
          pane command="zsh" {
              args "-c" "source ~/.zshrc && cd ~/md/middesk && bundle exec sidekiq -c 1 -q critical -q tin -q default -q low_priority -q scraper"
          }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
