keybinds {
    normal {
        unbind "Ctrl h"
    }
    search {
        unbind "Ctrl h"
    }
    pane {
        bind "-" { Resize "Decrease"; }
        bind "+" { Resize "Increase"; }
    }
}

theme "folke-tokyonight"
